body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff69b4; /* Rosa vibrante */
    color: rgb(248, 246, 246);
    text-align: center;
    padding: 2em 0;
}

header p {
    font-size: 20px;
}

section {
    padding: 2em;
    text-align: center;
}

.produtos-destaque {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    width: 300px;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2e2e2e;
    color: rgb(223, 194, 194);
    text-align: center;
    padding: 8px;
}

.descricao-principal {
    margin-bottom: 35px; /* Aumenta o espaçamento entre a frase e o botão */
}

.text-produto1 {
    font-size: 16px;
    padding: 6px;
}