body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f8b400;
}

.produto {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
}

.produto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

button {
    margin-top: 5px;
    padding: 5px 10px;
    background: #28a745;
    color: rgb(255, 254, 254);
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.btnPesquisar {
    width: 100px;
    border-radius: 6px;
}

#searchInput {
    width: 200px;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #333;
}

input::placeholder {
    text-align: center;
    color: #333;
}

.texto-secundario {
    font-size: 20px;
}
